form.form-uri-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

form.form-uri-inline label {
    margin: 0 2px 0 2px;
}
form.form-uri-inline input {
    width: 200px !important;
    padding: 10px;
}